.App {
  text-align: center;
}

.App-logo {
  display: block;
  pointer-events: none;
  margin:0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
